{% extends 'base.html' %}

{% block content %}

{% for post in post_list %}

    <div class="card">
        <div class="post-entry">
            <h3><a href="{{ post.get_absolute_url }}">{{ post.title}}</a></h3>
            <p>{{ post.body }}</p>
            <p>{{ post.author }}</p>
            </div>
            <div class="card-footer">
                {% for comment in post.comment_set.all %}
                <p>
                <span class="font-weight-bold">
                {{ comment.author }} &middot;
                </span>
                {{ comment }}
                </p>
                {% endfor %}
            </div>
        
    </div>
    
{% endfor %}




<div class="pagination">
    <span class="page-links">
        {% if page_obj.has_previous %}
            <a href="/blog/?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}
            <span class="page-current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>
        {% if page_obj.has_next %}
            <a href="/blog/?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
{% endblock content %}